alabaster==0.7.4
Babel==2.9.1
docutils==0.12
Jinja2==2.11.3
MarkupSafe==0.23
pockets==0.2.4
Pygments==2.7.4
pytz==2015.4
requests==2.31.0
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.2.3
Sphinx-PyPI-upload==0.2.1
sphinx-rtd-theme==0.1.8
sphinxcontrib-napoleon==0.3.6
wheel==0.38.1
